.rows1 {
    height: 260px;
}
.rows2 {
    height: 370px;
}
.rows3 {
    height: 480px;
}
.rows4 {
    height: 590px;
}
.rows5 {
    height: 700px;
}
.rows6 {
    height: 810px;
}
.rows7 {
    height: 920px;
}
.rows8 {
    height: 1030px;
}
.rows9 {
    height: 1140px;
}
.rows10 {
    height: 1250px;
}

.cols4 {
    width: 450px;
}
.cols6 {
    width: 670px;
}
.cols8 {
    width: 890px;
}
.cols10 {
    width: 1110px;
}
.cols12 {
    width: 1330px;
}


.r0 {
    top: 150px;
}
.r1 {
    top: 260px;
}
.r2 {
    top: 370px;
}
.r3 {
    top: 480px;
}
.r4 {
    top: 590px;
}
.r5 {
    top: 700px;
}
.r6 {
    top: 810px;
}
.r7 {
    top: 920px;
}
.r8 {
    top: 1030px;
}
.r9 {
    top: 1140px;
}


.c0 {
    left: 10px;
}
.c1 {
    left: 120px;
}
.c2 {
    left: 230px;
}
.c3 {
    left: 340px;
}
.c4 {
    left: 450px;
}
.c5 {
    left: 560px;
}
.c6 {
    left: 670px;
}
.c7 {
    left: 780px;
}
.c8 {
    left: 890px;
}
.c9 {
    left: 1000px;
}
.c10 {
    left: 1110px;
}
.c11 {
    left: 1220px;
}
