body {
    background-color: #111111;
    color: #ffffff;
    text-align: center;
}

div#box {
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 25px;
    background: url("img/brushedsteel7.jpg");
    box-shadow: inset #000 0 0px 8px;
}
div#display {
    font-family: "bpdotsregular";
    font-size: 16pt;
    color: red;
    text-align: left;
    text-shadow: 0px 0px 2px red;
    padding: 8px;
    position: absolute;
    right: 20px;
    top:20px;
    height: 100px;
    width: 300px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
}

div#pad {
    border-spacing: 20px;
}
div.cell {
    position: absolute;
    background-color: #666666;
    border-radius: 25px;
    height: 90px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
    box-shadow: #000000 3px 3px 4px;
    transition: width .2s, height .2s, margin .2s, border .2s, background-color .2s;
    z-index: 5;
}
div.cell:hover {
    border: 5px solid rgba(0,0,0,.5);
    margin: 0px
}
div#marker {
    position: absolute;
    border-radius: 25px;
    margin: -3px;
    height: 96px;
    width: 96px;
    border: 5px solid #990000;
    box-shadow: #000000 3px 3px 4px;
    z-index: 10;
    pointer-events: none;
    transition: left .25s, top .25s;
}

div.cell.active {
    background-color: #00FF00;
}

div.cell.current {
    margin: 0px;
    width: 98px;
    height: 98px;
    border: 1px solid #000000;
}

#power, #beat {
    margin-top: 10px;
    width: 100px;
    text-align: right;
}

.label {
    display: inline-block;
    font-family: "impact_labelregular";
    color: #000000;
    background-color: #ffffff;
    padding-bottom: 0px;
}

.led {
    margin: 0px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: #000 0 -1px 6px 1px, inset #333 0 -1px 5px;
    display: inline-block;
    position: relative;
    left: 10px;
}
.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}
.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}